doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       SEO 
    title Olapic Buyers Club
    meta(name='description', content='Olapic Buyers Club')
    meta(name='keywords', content='Visual Commerce, Olapic, Buyers, Wishlist, Buying')
    link(type='text/plain', rel='author', href='humans.txt')
    link(href='favicon.ico', rel='icon', type='image/ico')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,700|Bitter:400,700', rel='stylesheet', type='text/css')
    //
       Bootstrap 3.1.0 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    //
       Flexslider 2 
    link(href='css/flexslider.css', rel='stylesheet')
    //
       ionicons font 
    //
       <link href="css/ionicons.min.css" rel="stylesheet" /> 
    //
       Font awesome font 
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
    //
       Custom CSS 
    link(href='css/style.css', rel='stylesheet')
    link(href='css/color/blue.css', rel='stylesheet')
  body